@{
    ViewData["Title"] = "Katagoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
   
</head>
<body>


    <style>
        body {
            height: 3000px;
            background-image: url(https://media.istockphoto.com/id/153181299/tr/vekt%C3%B6r/single-spotlight-shining-on-pleated-red-theatrical-curtains.jpg?s=612x612&w=0&k=20&c=GVyyvd1qPWD-c34pF1aN01mpXhkNKqayiZAaHAu19cw=);
            background-size:cover;
            height: auto;
            width: auto;
        }

        ornek {
            width: 900px;
            margin: auto;
        }

        sola-kaydir {
            float: left;
            padding: 0 10px 10px 0;
        }

    </style>
    

  
   
    <br />
    
    <div class="ornek">

        <br />
        <br />
        <br />


        <a href="https://localhost:7069/Home/KorkuFilmi">
            <img style="width:180px;height:180px;margin-right:auto;border-radius: 20px;" title="Korku filmleri"  src="https://image.pngaaa.com/718/973718-middle.png">
            <p style="text-align:center;">KORKU FİLMLERİ</p>


         </a>

    <br />
    <hr />
        <a href="https://localhost:7069/Home/AksiyonFilmi">

        <img style="width:180px;height:180px; margin-right:auto; border-radius: 20px;" title="Aksiyon filmleri " src="https://cdn2.iconfinder.com/data/icons/refugee-crisis-color/64/war-conflict-battle-combat-fight-1024.png">
        <p style="text-align:center">AKSİYON FİLMLERİ</p>
    </a>
    <br />
    <hr />
        <a href="https://localhost:7069/Home/AskFilmi">

        <img style="width:180px;height:180px; margin-right:auto;  border-radius: 20px;" title="Romantik filmler" src="https://i.pinimg.com/originals/92/7e/95/927e95a3f47e6ab4f973f925434cafcb.png">
        <p style="text-align:center">AŞK FİLMLERİ</p>
    </a>
    <br />
    <hr />


        <a href="https://localhost:7069/Home/BilimFilmi">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Bilim Kurgu filmleri" src="https://www.kindpng.com/picc/m/63-636289_computer-chip-computer-chip-icon-png-transparent-png.png">
        <p style="text-align:center">BİLİM KURGU FİLMLERİ</p>
    </a> 
    <br />
    <hr />


        <a href="https://localhost:7069/Home/KomediFilmi">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Komedi Filmleri" src="https://cdn0.iconfinder.com/data/icons/movie-filled-outline/340/movie_film_comedy_entertainment_happy_person_laughing-1024.png">
        <p style="text-align:center">KOMEDİ FİLMLERİ</p>
    </a>
    <br />
    <hr />


        <a href="https://localhost:7069/Home/CocukFilmi">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Çocuk/Animasyon" src="https://cdn.ananasposter.ru/image/cache/catalog/poster/mult/87/6645-1000x830.jpg">
        <p style="text-align:center">ÇOCUK/ANİMASYON FİLMLERİ</p>
    </a>
  

    <br />
    <hr />

   </div>


   
</body>
</html>
