@{
    ViewData["Title"] = "Katagoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
   
</head>
<body>


    <style>
        body {
            height: 3000px;
            background-image: url(https://i.pinimg.com/originals/89/2f/38/892f3805ffb2b23f2541d38a7087f117.jpg);
            height: auto;
            width: auto;
        }

        ornek {
            width: 900px;
            margin: auto;
        }

        sola-kaydir {
            float: left;
            padding: 0 10px 10px 0;
        }

    </style>
    

  
   
    <br />
    
    <div class="ornek">
       
        <a href="http://www.google.com">

            <img style="width:180px;height:180px;margin-right:auto;border-radius: 20px;" title="Korku filmleri" src="https://image.pngaaa.com/718/973718-middle.png">
           <p style="text-align:center">damla</p>
        </a>
       
    </div>
    <br />
    <hr />
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto; border-radius: 20px;" title="Aksiyon filmleri " src="https://cdn2.iconfinder.com/data/icons/refugee-crisis-color/64/war-conflict-battle-combat-fight-1024.png">

    </a>
    <br />
    <hr />
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;  border-radius: 20px;" title="Romantik filmleri" src="https://i.pinimg.com/originals/92/7e/95/927e95a3f47e6ab4f973f925434cafcb.png">
    </a>
    <br />
    <hr />

    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Spor filmleri" src="https://e7.pngegg.com/pngimages/1006/168/png-clipart-team-sport-basketball-computer-icons-basketball-sport-team.png">
    </a>
    <br />
    <hr />

    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Dram filmelri" src="https://media.baamboozle.com/uploads/images/539750/1640168894_263694.jpeg">
    </a>
    <br />
    <hr />

    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Tarih/Savaş filmleri" src="https://avatars.dzeninfra.ru/get-zen_doc/5249897/pub_60eef3c6802f9759348f66e9_60eef41d2edbeb5f1f6358a5/scale_1200">
    </a>
    <br />
    <hr />

  
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Bilim Kurgu filmleri" src="https://www.kindpng.com/picc/m/63-636289_computer-chip-computer-chip-icon-png-transparent-png.png">
        
    </a> 
    <br />
    <hr />
    
    
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Komedi Filmleri" src="https://cdn0.iconfinder.com/data/icons/movie-filled-outline/340/movie_film_comedy_entertainment_happy_person_laughing-1024.png">
        
    </a>
    <br />
    <hr />
    
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Suç/Polisiye filmleri" src="https://gas-kvas.com/uploads/posts/2023-02/1676696717_gas-kvas-com-p-vor-detskii-risunok-50.jpg">
        
    </a>
    <br />
    <hr />
    
    
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Psikoloji filmleri" src="https://leganerd.com/wp-content/uploads/2023/04/psicoterapia.jpg">
        
    </a>
    <br />
    <hr />
    
    <a href="http://www.google.com">

        <img style="width:180px;height:180px; margin-right:auto;border-radius: 20px;" title="Çocuk/Animasyon" src="https://cdn.ananasposter.ru/image/cache/catalog/poster/mult/87/6645-1000x830.jpg">
        
    </a>
  

    <br />
    <hr />

   </div>



 







</body>
</html>
