@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>

    </head>
    <body>
        <style>


        body {
            
            background-image: url(https://i.pinimg.com/originals/d3/fd/4f/d3fd4fdbb6346822ec5c4878d23fa207.jpg);
            background-size:cover;
             }

        </style>
    




    </body>







</html>




