@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>

    </head>
    <body>
        <style>


        body {
            height: 3000px;
            background-image: url();
            height: auto;
            width: auto;
        }

        </style>




    </body>







</html>




